body {
    background-color: rgb(35, 35, 35);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    /* text-decoration: none; */
    color: white;
}

.header {
    border-bottom: 1px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    background: #1a1a1a;
}

header nav {
  position: absolute;
  top: 20px;
  right: 30px;
}

#logo {
  position: static;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
}